<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/pc/IdeaProjects/RestAPIAutomationFramework">
        <classes>
            <class name="TestSuites.NegativeTests">
                <methods>
                    <include name="validateDeletingNonExistingCustomer"/>
                    <include name="verifyUpdatingNonExistingCustomer"/>
                    <include name="verifyCreatingExistingCustomer"/>
                </methods>
            </class>
            <class name="TestSuites.PositiveTests">
                <methods>
                    <include name="verifyStatusCodeGETCustomers"/>
                    <include name="verifyStatusCodeGETSingleCustomer"/>
                    <include name="verifyStatusCodePOSTCreate"/>
                    <include name="verifyStatusCodePUTUpdateCustomer"/>
                    <include name="verifyStatusCodeDELETECustomer"/>
                    <include name="verifyPayloadCustomersSchema"/>
                    <include name="verifyCreateAndRetrievingCustomerRecord"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>